<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../static/js/signup.css" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!-- <h1>hello welcome to user home page.</h1>
    <a href="/logout">logout</a> -->



    <div class="container">
        <div class="header">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
              <a class="navbar-brand" href="#">Hospital  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;   &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;                         </a>

              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">

                  <li class="nav-item active">
                    <a class="nav-link" href="javascript:history.back()">Back <span class="sr-only">(current)</span></a>
                  </li>&emsp;

                  <li class="nav-item active">
                    <a class="nav-link" href="/userHome">Main Page <span class="sr-only">(current)</span></a>
                  </li>&emsp;
                  <li class="nav-item active">                   
                    <a class="nav-link" href="/logout">Logout <span class="sr-only">(current)</span></a>
                  </li>
                    <!-- <li class="nav-item">
                      <a class="nav-link" href="showSignIn">signin</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">sign up</a>
                    </li> -->
                    <!-- <li class="nav-item">
                      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li> -->
                  </ul>
                </div>
              </nav>
        </div>




        <div class="jumbotron">
            <h1 align="center">Edit Appointment</h1>
 
        </div>
        
        <!-- <h2>Doctors Table</h2>
        <table style="width:100%" border=" 1px solid black">
          <thead align="center">
          <tr>
              <th>Doctor ID</th>
              <th>Name</th>
              <th>Specialist</th>
          </tr>
          </thead>
          <tbody>
              {% for row in value %} 
                  <tr>
                      <td>{{row[4]}}</td>
                      <td>{{row[1]}}</td>
                      <td>{{row[2]}}</td>
                  </tr>
              {% endfor %}
          </tbody>
        </table> -->

        <!-- <h3>Doctor Name : {{value[0][1]}}</h3>
        <h3>Patient Name : {{value[0][3]}}</h3> -->

        <form class="form-signin" action="/edit" method="post">
          
            <label for="ano">Appointment No.</label>
          <input type="text" name="ano" id="inputName" class="form-control" value="{{value[0][7]}}" readonly autofocus>
          <br>
          <label for="did">Doctor's ID</label>
          <input type="text" name="did" id="inputName" class="form-control" value="{{value[0][0]}}" readonly autofocus>
          <br>

          <label for="dname">Doctor's Name</label>
          <input type="text" name="dname" id="inputName" class="form-control" value="{{value[0][1]}}" readonly autofocus>
          <br>

          <label for="pid" >Patient's ID</label>
          <input type="text" name="pid" id="inputName" class="form-control" value="{{value[0][2]}}" readonly autofocus>
          <br>

          <label for="pname">Patient's Name</label>
          <input type="text" name="pname" id="inputName" class="form-control" value="{{value[0][3]}}" readonly autofocus>
          <br>

          <label for="doa" >Date of Appointment</label>
          <input type="text" name="doa" id="inputName" class="form-control" value="{{value[0][4]}}" required autofocus>
          <br>
          <label for="toa" >Time of Appointment</label>
          <input type="text" name="toa" id="inputName" class="form-control" value="{{value[0][5]}}" required autofocus>
          <br>
          <label for="stat" >Appointment Status</label>
          <input type="text" name="stat" id="inputName" class="form-control" value="{{value[0][6]}}" required autofocus>
          <br>
                    <!-- <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required> -->
          <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit">Update Appointment</button>
          <!-- <button id="subm" class="btn btn-lg btn-primary btn-block" type="button">Sign up</button> -->
        </form>


    </div>
    
</body>
</html>