<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask Bucket List App</title>
 
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet"> -->
    <link href="../static/js/signup.css" rel="stylesheet">
 
</head>
 
<body>
    <!-- <a href="showSignUp">sign up</a>
    <a href="showSignIn">sign in</a>
    <a href="#">home page</a> -->

    <div class="container">
        <div class="header">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">Hospital &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item active">
                      <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>&emsp;
                    <li class="nav-item active">
                      <a class="nav-link" href="showSignIn">Sign In</a>
                    </li>&emsp;
                    <li class="nav-item active">
                      <a class="nav-link" href="showSignUp">Sign Up</a>
                    </li>
                    <!-- <li class="nav-item">
                      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li> -->
                  </ul>
                </div>
              </nav>
            <!-- <h3 class="text-muted">Python Flask App</h3> -->
        </div>
 
        <div class="jumbotron">
            <h1>Hospital Management System</h1>
            <p class="lead"></p>
            <!-- <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today</a>
            </p> -->
        </div>
 
        <!-- <div class="row marketing">
            <div class="col-lg-6">
                <h4>Task 1</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores assumenda asperiores atque sit, cumque eos modi quae magnam quia mollitia corrupti alias amet, architecto, deserunt tenetur illo dolore dolor debitis dolores quidem earum blanditiis. Porro, quibusdam nam exercitationem provident atque dolores magnam fugit adipisci numquam iusto, cum alias debitis excepturi?</p> -->
                <!-- <p>created all the databases and added all the data.</p> -->
<!--  
                <h4>Task 2</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos voluptatibus saepe error, libero dicta architecto aliquam? Sint facilis aut amet nisi esse molestiae repellat assumenda quo, ex enim totam deserunt architecto inventore sunt fuga, error animi velit! Quas corrupti repellat iusto iure harum tenetur, reiciendis vitae, quaerat, recusandae optio ex.</p> -->

                <!-- <p>worked on basics of flask framework and learned routing.</p> -->
 
                <!-- <h4>Task 3</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi dolorum minima doloremque corrupti quae labore tempora quam! Corporis eaque ullam voluptatum deleniti quis praesentium eius, id, vero dolorem, dignissimos voluptatibus nihil odit alias dolorum libero sit aperiam numquam? Amet voluptas repellendus asperiores quod corrupti nemo necessitatibus non explicabo dolores atque!</p> -->
                <!-- <p>Linked the frontend with database and created signin,login and logout routes</p> -->
            <!-- </div>
 
        </div> -->
<br><br>
        <h3>Made By:</h3>
        <br>
        <h4>Abhinav Gupta (201851002)</h4>
        <h4>Rahin Vadsariya (201851139)</h4>
 

 
    </div>
</body>
 
</html>