<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../static/js/signup.css" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!-- <h1>hello welcome to user home page.</h1>
    <a href="/logout">logout</a> -->



    <div class="container">
        <div class="header">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">Hospital  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;   &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;                         </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
  
                    <li class="nav-item active">
                      <a class="nav-link" href="javascript:history.back()">Back <span class="sr-only">(current)</span></a>
                    </li>&emsp;
  
                    <li class="nav-item active">
                      <a class="nav-link" href="/userHome">Main Page <span class="sr-only">(current)</span></a>
                    </li>&emsp;
                    <li class="nav-item active">                   
                      <a class="nav-link" href="/logout">Logout <span class="sr-only">(current)</span></a>
                    </li>
                    <!-- <li class="nav-item">
                      <a class="nav-link" href="showSignIn">signin</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">sign up</a>
                    </li> -->
                    <!-- <li class="nav-item">
                      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li> -->
                  </ul>
                </div>
              </nav>
        </div>





        <div class="jumbotron">
            <h1 align = "center">Medicines</h1>
 
        </div>
        

        <table style="width:100%" border=" 1px solid black">
          <thead align="center">
          <tr>
              <th>Medicine ID</th>
              <th>Medicine Name</th>
              <th>Medicine price (per unit)</th>
              
          </tr>
          </thead>
          <tbody align="center">
              
              {% for row in value %} 
                  <tr>
                      <td>{{row[0]}}</td>
                      <td>{{row[2]}}</td>
                      <td>{{row[1]}}</td>              

                  </tr>
                  
              {% endfor %}
          </tbody>
        </table>

    </div>
    
</body>
</html>