<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../static/js/signup.css" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">


  <style>
    hr{
      color: rgba(211, 211, 216, 0.932);
      background-color:rgba(211, 211, 216, 0.932);
    }
    </style>

</head>
<body>
    <!-- <h1>hello welcome to user home page.</h1>
    <a href="/logout">logout</a> -->



    <div class="container">
        <div class="header">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
              <a class="navbar-brand" href="#">Hospital  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;   &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;                         </a>

              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">

                  <li class="nav-item active">
                    <a class="nav-link" href="javascript:history.back()">Back <span class="sr-only">(current)</span></a>
                  </li>&emsp;

                  <li class="nav-item active">
                    <a class="nav-link" href="/userHome">Main Page <span class="sr-only">(current)</span></a>
                  </li>&emsp;
                  <li class="nav-item active">                   
                    <a class="nav-link" href="/logout">Logout <span class="sr-only">(current)</span></a>
                  </li>
                    <!-- <li class="nav-item">
                      <a class="nav-link" href="showSignIn">signin</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">sign up</a>
                    </li> -->
                    <!-- <li class="nav-item">
                      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li> -->
                  </ul>
                </div>
              </nav>
        </div>
 
        <div class="jumbotron">
            <h1 align ="center">Welcome Home !!</h1>
 
        </div>
        

        <!-- <table style="width:100%" border=" 1px solid black">
          <thead align="center">
          <tr>
              <th>ID</th>
              <th>password</th>
          </tr>
          </thead>
          <tbody>
              {% for row in value %} 
                  <tr>
                      <td>{{row[0]}}</td>
                      <td>{{row[1]}}</td>
                  </tr>
              {% endfor %}
          </tbody>
        </table> -->

        
        <br>

        <div class="row">
          <div class="col-4">
            <h3 align="center">Personal Details</h3>
          </div>

          <div class="col-8 " >

            <div class="row">
              <div class="col-4" align="center">
                <a id="patient" class="btn btn-primary " href="/patient">Patient Details</a>

              </div>

              <div class="col-4" align="center">
                <a id="doc" class="btn btn-primary " href="/doc">Doctor Details</a>

              </div>

              <div class="col-4" align="center">
                <a id="co_worker" class="btn btn-primary " href="/co_worker">Co-Worker Details</a>

              </div>

            </div>

          </div>

        </div>

        <br>
        <hr>
        <br>
        
 

        <div class="row">
          <div class="col-4">
            <h3 align="center">Appointments</h3>
          </div>
          <div class="col-4 " align="center">
            <a id="check_appointments" class="btn btn-primary " align="center" href="/check_appointments">Check Appointments</a>
          </div>
          <div class="col-4" align="center">
            <a id="fix_appointments" class="btn btn-primary " align="center" href="/fix_appointments">Fix Appointments</a>

          </div>
        </div>

        <br>
        <hr>
        <br>
      
        
        <div class="row">
          <div class="col-4">
            <h3 align="center">New Sign In</h3>
          </div>

          <div class="col-4 " align="center">
            <a id="new_patient" class="btn btn-primary " href="/new_patient">New Patient Sign In</a>
          </div>
          <div class="col-4" align="center">
            <a id="new_doctor" class="btn btn-primary " href="/new_doc">New Doctor Sign In</a>
          </div>

        </div>



        <br>
        <hr>
        <br>
      

        
        <div class="row">
          <div class="col-4">
            <h3 align="center">Medicines</h3>
          </div>
          <div class="col-8 " align="center">
            <a id="medicines" class="btn btn-primary" href="/medicine">Medicines Details</a>
          
        </div>
        </div>

        <br>
        

        

        
  



 
    </div>
    
</body>
</html>